@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<div>
    Welcom to my Super Blog App, I made it using Blazor server and ASP .NET core API with SQLite database. Enjoyee !!
</div>
