@page "/accessdenied"
<div class="row">
    <div class="col-md-6 alert alert-danger position-absolute top-50 start-50 translate-middle">
        <h3>Access Denied</h3>
        <p>You are not authorized to view this page.</p>
    </div>
</div>
