@page "/logout"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


    <div class="alert alert-danger position-absolute top-50 start-50 translate-middle">
        <h3>Are you sure you want to log out?</h3>
        <button class="btn btn-danger" @onclick="LogOut">Yes</button>
        <button class="btn btn-primary" @onclick="Cancel">No</button>
    </div>


@code {

    private async Task LogOut()
    {
        NavigationManager.NavigateTo("/logoutfun", true);
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
        StateHasChanged();

    }
}